<mat-card class="vehicle-card" *ngIf="vehicle">
    <mat-card-content>
        
            <form [formGroup]="vehicleGroup">
                <mat-form-field>
                    <input matInput placeholder="Update plate number" formControlName="plateNumberCtrl" required>
                </mat-form-field>
                <br>
            </form><br>
            <span class="vehicleType">Type: {{ vehicle.vehicleType }}</span><br>
            <span class="cityLine">City line: {{ vehicle.cityLine.name }}</span><br>
        
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button id="deleteButton" class="delete-vehicle-btn" (click)="deleteVehicle()" color="warn">Remove</button>
        <button mat-raised-button id="updateButton" class="update-vehicle-btn" (click)="updateVehicle()" color="primary" [disabled] = "!vehicleGroup.touched || !vehicleGroup.valid">Update</button>

    </mat-card-actions>

</mat-card>