<div class="container" *ngIf="tickets">
    <div class="ticket-list">
      <mat-card-actions>
        <a mat-raised-button class="create-ticket-btn" [routerLink]="['/create-ticket']" color="primary">Create new ticket</a>
      </mat-card-actions>
      <div class="ticket-wrapper" *ngFor="let ticket of tickets; let i = index">
        <app-ticket-card [ticket]="ticket" (deleted)="removeTicketFromList(i)">
        </app-ticket-card>
      </div>
    </div>
</div>
  