<div class="container mat-elevation-z2" *ngIf='priceListGroup'>
    <div class="form">
        <h2 class="mat-h2">
            Add new price list
        </h2>
        <form [formGroup]="priceListGroup">
            <mat-form-field>
                <input (click)="startDatePicker.open()" matInput [matDatepicker]="startDatePicker" placeholder="Start date"
                    formControlName="startDateCtrl" required>
                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #startDatePicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <input (click)="endDatePicker.open()" matInput [matDatepicker]="endDatePicker" placeholder="End date"
                    formControlName="endDateCtrl" required>
                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #endDatePicker></mat-datepicker>
            </mat-form-field>
            <br>
        </form>
        <button mat-raised-button color="primary" (click)="addPriceList()" [disabled]="!priceListGroup.valid">
            Add
        </button>
    </div>

</div>