<div class="container mat-elevation-z2">
  <div class="col">
    <div class="schedule-item-list" *ngIf="scheduleItems && scheduleItems.length">
      <table class='table'>
          <thead>
              <tr>
                  <th>Departure time</th>
                  <th>Vehicle plate number</th>
                  <th *ngIf="isAdmin"> &nbsp; </th>
              </tr>
          </thead>   
          <tbody>
              <tr *ngFor="let item of scheduleItems">
                  <td>{{ item.departureTime | date:'shortTime' }}</td>
                  <td> 
                    <ng-container *ngIf="item.vehicle; else elseTemplate">
                      {{ item.vehicle.plateNumber }}
                    </ng-container>
                    <ng-template #elseTemplate>
                      No vehicle info provided!
                    </ng-template>
                  </td>
                  <td *ngIf="isAdmin"> 
                    <button class="delete-item" (click)="deleteItem(item.id)">Delete</button>
                  </td>
              </tr>
              <tr *ngIf="isAdmin">
                  <td>
                    <input type="time" id="new-time" name="new-time"
                    min="6:00" max="23:59" required [(ngModel)]='selectedTime' >  
                  </td>
                  <td>
                      &nbsp;
                  </td>
                  <td>
                    <button (click)="addNewItem()">Add</button>
                  </td>
                </tr>
          </tbody>
      </table>
  </div>
</div>