div.city-line-creation {
  display: flex;
  flex-direction: row;
}

div.map {
  width: 80vw;
}

div.data {
  width: 20vw;
  z-index: 6;
  padding: 30px;
  background-color: white;
}

form, .mat-form-field-wrapper, .form, mat-form-field {
  width:100% !important;
}

div.station {
  padding: 10px;
  background-color: white;
  font-size: 14px;
  border-bottom: solid 1px #ccc;
  display: flex;
  flex-direction: row;
}

div.station button {
  margin-right: 5px;
}

div.station:last-child {
  border: none;
}

div.station .mat-button-ripple {
  width: 20px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.stations.cdk-drop-list-dragging .station:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

div.form {
  box-sizing: content-box;
}

div.stations {
  border: solid 1px #ccc;
  overflow: hidden;
  max-height: 300px;
  overflow-y: scroll;
}

button.save-btn {
  margin-top: 10px;
}
