<div class="container mat-elevation-z2" *ngIf="priceListItem">
  <div class="info">
    <span class="price">
      Price: {{priceListItem.price}}
    </span>
    <br>
    <span class="ticket-duration">
      Ticket duration: {{priceListItem.ticket.ticketDuration}}
    </span>
    <br>
    <span class="ticket-type">
      Ticket type: {{priceListItem.ticket.ticketType}}
    </span>
    <br>
    <span class="city-line-type">
      City line type: {{priceListItem.ticket.cityLine.cityLineType}}
    </span>
    <br>
    <span class="city-line-name">
      City line name: {{priceListItem.ticket.cityLine.name}}
    </span>
    <br>
  </div>
</div>