<div class="container" *ngIf="admins">
    <div class="admin-list">
      <div class="admin-wrapper" *ngFor="let admin of admins; let i = index">
        <app-admin-card [admin]="admin" (deleted)="removeAdminFromList(i)">
        </app-admin-card>
        <br>
      </div>
    </div>
  </div>