<div class="create-ticket">
  <div class="container mat-elevation-z2">
    <div class="col">
        <h2 class="mat-h2">
          Create new ticket type
        </h2>
        Set pagination for city lines:<br>
        <app-page-controls [page]="cityLinesPage" 
                           [pageParams]="pageParams" 
                           (pageParamsChanged)="paramsChanged($event)"
                           [sortFields]="sortFields">
        </app-page-controls>
        <form [formGroup]="ticketGroup" *ngIf="ticketGroup">
            <mat-form-field>
              <mat-select placeholder="Type" formControlName="ticketTypeCtrl" required>
                <mat-option [value]="'REGULAR'">
                  Regular
                </mat-option>
                <mat-option [value]="'STUDENT'">
                  Student
                </mat-option>
                <mat-option [value]="'SENIOR'">
                    Senior
                  </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Duration" formControlName="ticketDurationCtrl" required>
                <mat-option [value]="'DAILY'">
                  Daily
                </mat-option>
                <mat-option [value]="'MONTHLY'">
                  Monthly
                </mat-option>
                <mat-option [value]="'ANNUAL'">
                    Annual
                </mat-option>
                <mat-option [value]="'SINGLE_RIDE'">
                    Single ride
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="City line" formControlName="cityLineCtrl" required *ngIf="cityLinesPage">
                  <mat-option *ngFor="let cityLine of cityLinesPage.content; let i = index" [value]="cityLine">
                    {{ i + 1 }}. {{ cityLine.name }}
                  </mat-option>
                </mat-select>
            </mat-form-field>
          </form>
      <button *ngIf="ticketGroup" class="save-btn" mat-raised-button color="primary" (click)="saveTicket()" [disabled]="!ticketGroup.valid">
        Save
      </button>
    </div>
  </div>
</div>


  