div.container {
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 10px;
  }
  
  div.info {
    margin-left: 3px;
  }

button {
    margin-bottom: 10px;
    margin-right: 5px;
}

.input-group {
  display: table;
  width: 60%;
}

.input-group-item {
  display: table-cell;
}

  