<mat-accordion *ngIf="priceList">
  <mat-expansion-panel>
    <mat-expansion-panel-header [collapsedHeight]="'100px'">
      <form [formGroup]="priceListUpdateGroup" *ngIf="isAdmin">
        <mat-form-field>
          <input matInput placeholder="Start date"  [value]="priceList.startDate | date" disabled>
        </mat-form-field>
        <mat-form-field>
          <input (click)="endDatePicker.open()" matInput [matDatepicker]="endDatePicker" placeholder="End date"
            formControlName="endDateCtrl" required>
          <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #endDatePicker></mat-datepicker>
        </mat-form-field>
      </form>

      <span *ngIf="!isAdmin">
        <span>
          From: {{priceList.startDate | date}} to: {{priceList.endDate | date}}
        </span>
      </span>
      <br>
    </mat-expansion-panel-header>
    <button mat-raised-button class="update-dates-btn" color="primary" (click)="updatePriceList()" [disabled]="!priceListUpdateGroup.valid" *ngIf="isAdmin">
      Update dates
    </button>
    <button mat-raised-button color="primary" (click)="openDialog()" *ngIf="isAdmin">Add price list item</button>
    <div class="priceListItems" *ngIf="priceListItems">
      <div class="priceListItem" *ngFor="let priceListItem of priceListItems.content; let i = index">
        <div *ngIf="!isAdmin">
          <app-price-list-item-view [priceListItem]="priceListItem">
          </app-price-list-item-view>
        </div>
        
        
        <mat-card *ngIf="isAdmin">
          <mat-card-content>
            <app-price-list-item-view [priceListItem]="priceListItem">
            </app-price-list-item-view>
          </mat-card-content>
          <div class="input-group">
            <span class="input-group-item">
              <button mat-raised-button color="accent" (click)="deletePriceListItem(priceListItem.id, i)">
                Delete
              </button>
            </span>
            <span class="input-group-item">
              <form [formGroup]="priceListItemGroups[i]">
                <mat-form-field>
                  <input matInput [name]="priceListItem.id" placeholder="Input new price" formControlName="priceCtrl"
                    required>
                </mat-form-field>
              </form>
            </span>
            <span class="input-group-item">
              <button mat-raised-button matSuffix name="priceListItem.id" color="accent" (click)="updatePriceListItem(priceListItem, i)" [disabled]="!priceListItemGroups[i].valid">
                Update
              </button>
            </span>
          </div>
        </mat-card>
      </div>
      <app-page-controls [page]="priceListItems" [pageParams]="pageParams" [sortFields] = "sortFields" (pageParamsChanged)="paramsChanged($event)">
      </app-page-controls>
    </div>
  </mat-expansion-panel>
</mat-accordion>