<div class="container mat-elevation-z2" *ngIf="vehiclesPage">
    <div class="col">
      <div class="vehicles">
        <h2 class="mat-h2">
          Vehicles
        </h2>
        <app-page-controls [page]="vehiclesPage" [pageParams]="pageParams" [sortFields] = "sortFields" (pageParamsChanged)="paramsChanged($event)">
        </app-page-controls>
        <app-vehicle-list [vehicles]="vehiclesPage.content">
        </app-vehicle-list>
      </div>
    </div>
  </div>
  