<div class="container mat-elevation-z2">
  <div class="col">
    <h2 class="mat-h2">Ticket validation</h2>
    <div class="ticket-info" *ngIf="ticket">
      <app-purchased-ticket-card [ticket]="ticket" [boughtTicket]="boughtTicket"></app-purchased-ticket-card>
    </div>
    <div class="validity-info" *ngIf="isValid !== null">
      <h2 class="ticket-validity mat-h2" *ngIf="isValid">Ticket is valid</h2>
      <h2 class="ticket-validity invalid mat-h2" *ngIf="!isValid">Ticket is invalid</h2>
    </div>
  </div>
</div>

