<div class='card'>
    <div class='card-header'>
      {{pageTitle}}
    </div>
    <div class='card-body'>
        <app-page-controls [page]="cityLinesPage"
            [pageParams]="pageParams"
            (pageParamsChanged)="paramsChanged($event)"
            [sortFields]="sortFields">
        </app-page-controls>
        <div class='row'>
        <div class='filter'>Filter by name: </div>
        <div class='filter-input'>
          <input type='text'
                    [(ngModel)]='listFilter' />
        </div>

        <div class="filter">Filter by line type:</div>
          <div class='filter-input'>
                <select [(ngModel)]='typeFilter'>
                    <option value="all">All</option>
                    <option value="bus">Bus</option>
                    <option value="tram">Tram</option>

                </select>
            </div>
      </div>
      <div class="row">

      </div>
      <div class='table-responsive'>
        <table class='table' *ngIf='cityLines && cityLines.length'>
            <thead>
                <tr>
                    <th> &nbsp; </th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Schedule</th>
                    <th> Show </th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let cityLine of filteredLines'>
                    <td></td>
                    <td>{{ cityLine.name }}</td>
                    <td>{{ cityLine.cityLineType | lowercase }}</td>
                    <td> <a [routerLink]="['/schedule', cityLine.id]">See schedule</a>  </td>
                    <td> <button class="show-btn" mat-raised-button color="primary" (click)="showCityLine(cityLine.id)">
                        Show
                      </button> </td>
                    <td>
                        <button class="edit-city-line-btn" mat-raised-button color="accent" [routerLink]="['/edit-city-line', cityLine.id]">
                            Edit city line
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
  </div>
</div>
