thead {
    color: #337AB7;
}

div.filter {

    margin-right: 20pt;
    margin-top: 10pt;
    font-size: 12pt;
    color: #337AB7;

}

div.filter-input {
    
    margin-right: 20pt;
    margin-top: 10pt;
    font-size: 16pt
}

div.card-header {
    margin-top: 12pt;
    font-size: 18pt;
    font-weight: bold;
    color: #337AB7;
}

table {
    border-collapse: collapse;
    width: 100%;

  }

  th, td {
    padding: 10px;
    text-align: left;
    border: 2px solid #337AB7;
  }
  