<div class="container" *ngIf="stations">
  <div class="station-list">
    <div class="station-wrapper" *ngFor="let station of stations; let i = index">
      <app-station-card [station]="station" (deleted)="removeStationFromList(i)">
      </app-station-card>
    </div>
  </div>
</div>
