<div class="container mat-elevation-z2">
    <div class="col">
      <h2 class="mat-h2">
        Schedule for city line: <br>
        <ng-container *ngIf="schedule; else elseTemplate">
            <b>{{ schedule.cityLine.name }}</b>
        </ng-container>
        <ng-template #elseTemplate>
            <p>No name to show.</p>
        </ng-template>
      </h2>
      <div class="info" *ngIf="schedule">
          <br>
          <span class="schedule-type" *ngIf="schedule.scheduleType">
            New schedule for: &nbsp;
            <b> {{ schedule.scheduleType | uppercase | convertToSpaces: '_' }} </b> 
            <br><br>
            Change type:
            <br>
            <select class="select-type-value" [(ngModel)]='typeSelector'>
                <option value="work_day">Work day</option>
                <option value="weekend">Weekend</option>
            </select>
          </span>
          <br><br>
      </div>
      <div class="schedule-items"> 
          <table class='table'>
              <thead>
                  <tr>
                      <th>Departure time</th>
                      <th>Vehicle plate number</th>
                      <th> &nbsp; </th>
                  </tr>
              </thead>   
              <tbody>
                  <tr *ngFor="let item of newScheduleItems">
                      <td>{{ item.departureTime | date:'shortTime' }}</td>
                      <td> 
                        <ng-container *ngIf="item.vehicle; else elseTemplate">
                          {{ item.vehicle.plateNumber }}
                        </ng-container>
                        <ng-template #elseTemplate>
                          No vehicle info provided!
                        </ng-template>
                      </td>
                  </tr>
                  <tr>
                    <td>
                      <input class="select-new-time" type="time" id="new-time" name="new-time"
                      min="6:00" max="23:59" required [(ngModel)]='selectedTime' >  
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                      <button (click)="addNewItem()">Add</button>
                    </td>
                  </tr>
              </tbody>
          </table>
      </div>
      <div class="explanation">
        <p>
          *Vehicles will be automatically assigned.
        </p>
      </div>
      <div class="save-schedule">
        <button (click)="saveSchedule()">
          Save schedule
        </button>
      </div>
    </div>
</div>

