<aol-map [width]="'100%'" [height]="'300px'" *ngIf="center">
  <aol-interaction-default></aol-interaction-default>
  <aol-view [zoom]="zoom">
    <aol-coordinate [x]="center.longitude" [y]="center.latitude" [srid]="'EPSG:4326'"></aol-coordinate>
  </aol-view>
  <aol-layer-tile [opacity]="opacity">
    <aol-source-osm></aol-source-osm>
  </aol-layer-tile>
  <aol-layer-vector [opacity]="opacity">
    <aol-source-vector *ngIf="markers">
      <aol-feature class='map-circle' *ngFor="let marker of markers">
        <aol-geometry-point>
          <aol-coordinate [x]="marker.position.longitude" [y]="marker.position.latitude" [srid]="'EPSG:4326'"></aol-coordinate>
        </aol-geometry-point>
        <aol-style>
          <aol-style-circle [radius]="5">
            <aol-style-stroke [color]="'black'" [width]="strokeWidth"></aol-style-stroke>
            <aol-style-fill [color]="'green'"></aol-style-fill>
          </aol-style-circle>
        </aol-style>
      </aol-feature>
    </aol-source-vector>
  </aol-layer-vector>
</aol-map>

<span>zoom:</span>
<button mat-raised-button color="primary" (click)="increaseZoom()">+</button>
<button mat-raised-button color="accent" (click)="decreaseZoom()">-</button><br>
