<div class="edit-ticket">
    <div class="data mat-elevation-z3">
      <div class="form">
        <h2 class="mat-h2">
          Edit ticket
        </h2>
        <form [formGroup]="ticketGroup" *ngIf="ticketGroup">
            <mat-form-field>
              <mat-select placeholder="Type" formControlName="ticketTypeCtrl" required>
                <mat-option [value]="'REGULAR'">
                  Regular
                </mat-option>
                <mat-option [value]="'STUDENT'">
                  Student
                </mat-option>
                <mat-option [value]="'SENIOR'">
                    Senior
                  </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Duration" formControlName="ticketDurationCtrl" required>
                <mat-option [value]="'DAILY'">
                  Daily
                </mat-option>
                <mat-option [value]="'MONTHLY'">
                  Monthly
                </mat-option>
                <mat-option [value]="'ANNUAL'">
                    Annual
                </mat-option>
                <mat-option [value]="'SINGLE_RIDE'">
                    Single ride
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
      </div>
      <button *ngIf="ticketGroup" class="save-btn" mat-raised-button color="primary" (click)="saveTicket()" [disabled]="!ticketGroup.valid">
          Save
      </button>
    </div>
  </div>
  