<div class="container mat-elevation-z2" *ngIf='accountGroup'>
    <div class="form">
      <h2 class="mat-h2">
        Travel admin registration
      </h2>
      <form [formGroup]="accountGroup">
        <mat-form-field>
          <input matInput placeholder="First name" formControlName="firstNameCtrl" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Last name" formControlName="lastNameCtrl" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Email"  formControlName="emailCtrl" required>
        </mat-form-field>
        <br>  
        <mat-form-field>
          <input (click)="dateOfBirthPicker.open()" matInput [matDatepicker]="dateOfBirthPicker" placeholder="Date of birth" formControlName="dateOfBirthCtrl" required>
          <mat-datepicker-toggle matSuffix [for]="dateOfBirthPicker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #dateOfBirthPicker></mat-datepicker>
        </mat-form-field>
        <br>
      </form>
      <button mat-raised-button color="primary" (click)="registerAdmin()" *ngIf="accountGroup.valid">
        Register
      </button>
    </div>
    
  </div>
  