<div class="container mat-elevation-z2">
  <div class="col">
    <h2 class="mat-h2">Price lists</h2>
    <div class="priceLists" *ngIf="priceLists">
      <app-page-controls [page]="priceLists" [pageParams]="pageParams" [sortFields] = "sortFields" (pageParamsChanged)="paramsChanged($event)">
      </app-page-controls>
      <div class="priceList" *ngFor="let priceList of priceLists.content; let i = index">
        <mat-card>
          <mat-card-content>
          <app-price-list-card [priceList]="priceList">
          </app-price-list-card>
        </mat-card-content>
          <mat-card-actions *ngIf="isAdmin">
            <button mat-raised-button class="delete-price-list-btn" color="primary" (click)="deletePriceList(priceList.id, i)">
              Delete
            </button>
          </mat-card-actions>
        </mat-card>
        <br>
      </div>

    </div>
  </div>
</div>