<div class="container mat-elevation-z2" *ngIf="schedule">
  <div class="col">
    <h2 class="mat-h2">
      Schedule for city line: <br>
      <b>{{ cityLine.name }}</b>
    </h2>
    <div class='choose-type'>
      <button (click)="changeType()">See other type</button>
    </div>
    <br>
    <ng-container *ngIf="schedule.active; then thenTemplate; else elseTemplate1"></ng-container>
    <ng-template #thenTemplate>
      <div class="info">
        <span class="schedule-type" *ngIf="schedule.scheduleType">
            Current type: {{ schedule.scheduleType | lowercase | convertToSpaces:'_' }}
            <br><br>
          </span>
        <span class="schedule-active">
              <ng-container *ngIf="schedule.active; else elseTemplate">
                Schedule is <b>active</b>.
              </ng-container>
              <ng-template #elseTemplate>
                Schedule is <b>inactive</b>.
              </ng-template>
          </span>
          <br><br>
          <span class="schedule-validFrom" *ngIf="schedule.validFrom">
            Valid from: {{ schedule.validFrom | date }}
          </span>
        </div>  
    </ng-template>
    <ng-template #elseTemplate1>
      <p>There is no schedule for this type!</p>
    </ng-template>
    
    <div class="schedule-items">
      <ng-container *ngIf="schedule.active; else elseTemplate2">
        <app-schedule-item-list [scheduleId]= "schedule.id" [typeField]="typeField" [isAdmin]="isAdmin">
        </app-schedule-item-list>
      </ng-container>
      <ng-template #elseTemplate2>
        <p>No timetable!</p>
      </ng-template>
    </div>
    <br><br>
    <div class="admin-modify" *ngIf="isAdmin">
      <span class="create-new">
        <button class="create-new-button" (click)="addNewSchedule()">Create new</button>
      </span>
    </div>
</div>
