<div class="controls" *ngIf="pageParams && page">
  <button mat-raised-button class="previous" (click)="previous()" color='primary'>
    Previous
  </button>
  <ng-container *ngIf="tinyView">
    <div mat-button class="info">
      {{ pageParams.page + 1 }} out of {{ page.totalPages }}
    </div>
  </ng-container>
  <button mat-raised-button class="next" (click)="next()" color='primary'>
    Next
  </button>
  <ng-container *ngIf="!tinyView">
    <div mat-button class="info">
      {{ pageParams.page + 1 }} out of {{ page.totalPages }}, showing {{ pageParams.size }} items per page
    </div>
    <mat-form-field (valueChange)="paramsChanged()">
      <mat-select placeholder="Show per page" [(value)]="pageParams.size" (selectionChange)="paramsChanged(true)">
        <mat-option [value]="8">8</mat-option>
        <mat-option [value]="16">16</mat-option>
        <mat-option [value]="24">24</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field (valueChange)="paramsChanged()">
        <mat-select placeholder="Field" (selectionChange)="paramsChanged()" [(value)]="sortField">
          <mat-option *ngFor="let field of sortFields" [value]="field.name">
            {{ field.displayName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Order" (selectionChange)="paramsChanged()" [(value)]="sortOrder">
        <mat-option value='asc'>Ascending</mat-option>
        <mat-option value='desc'>Descending</mat-option>
      </mat-select>
    </mat-form-field>
</ng-container>
</div>
