<div class="container mat-elevation-z2" *ngIf='accountGroup'>
  <div class="form">
    <h2 class="mat-h2">
      {{ account.firstName }} {{ account.lastName }}
    </h2>
    <form [formGroup]="accountGroup">
      <mat-form-field>
        <input matInput placeholder="First name" formControlName="firstNameCtrl" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Last name" formControlName="lastNameCtrl" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Email"  [value]="account.email" disabled>
      </mat-form-field>
      <br>  
      <mat-form-field>
        <input (click)="dateOfBirthPicker.open()" matInput [matDatepicker]="dateOfBirthPicker" 
               placeholder="Date of birth" formControlName="dateOfBirthCtrl" 
               [max]="maxDate" required>
        <mat-datepicker-toggle matSuffix [for]="dateOfBirthPicker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #dateOfBirthPicker></mat-datepicker>
      </mat-form-field>
      <br>
      <button mat-raised-button color="warn" (click)="updatePassword = true" *ngIf="!updatePassword">
        Update password
      </button>
      <ng-container *ngIf="updatePassword">
        <mat-form-field>
          <input matInput placeholder="Password" formControlName="passwordCtrl" type="password" (change)="applyPasswordValidation()" required> 
          <mat-error *ngIf="accountGroup.get('passwordCtrl').hasError('minlength')">
            password needs to be at least {{ accountGroup.get('passwordCtrl').errors['minlength'].requiredLength }} 
            characters long, your current password is {{ accountGroup.get('passwordCtrl').errors['minlength'].actualLength }}
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Confirm password" formControlName="passwordConfirmCtrl" type="password" required>
          <mat-error *ngIf="accountGroup.get('passwordConfirmCtrl').hasError('error')">
            passwords don't match
          </mat-error>
        </mat-form-field>
      </ng-container>
    </form>
    <button mat-raised-button color="primary" (click)="saveProfile()" *ngIf="accountGroup.valid && accountGroup.touched">
      Save
    </button>
  </div>
  
</div>
