div.track-vehicle {
  display: flex;
  flex-direction: row;
}

div.map {
  width: 80vw;
}

div.data {
  width: 20vw;
  z-index: 6;
  padding: 30px;
  background-color: white;
}

form, .mat-form-field-wrapper, .form, mat-form-field {
  width:100% !important;
}