<div class="track-vehicle">
  <div class="data mat-elevation-z3">
    <div class="form">
      <h2 class="mat-h2">
        Track vehicle
      </h2>
      <mat-form-field *ngIf="vehiclesPage">
        <mat-select placeholder="Select vehicle" [(value)]="selectedVehicle" (selectionChange)="selectedVehicleChanged($event)">
          <mat-option *ngFor="let vehicle of vehiclesPage.content" [value]="vehicle">
            {{ vehicle.plateNumber }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <app-page-controls [page]="vehiclesPage" [pageParams]="pageParams" 
                         (pageParams)="pageParamsChanged($event)" [tinyView]='true'>
      </app-page-controls>
      <div class="vehicle-data" *ngIf="selectedVehicle && selectedVehicle.station">
        <br>
        <h2 class="mat-h2">
          Vehicle data
        </h2>
        <span class="lat">
          Latitude: {{ selectedVehicle.station.latitude }}
        </span>
        <br>
        <span class="lng">
          Longitude: {{ selectedVehicle.station.longitude }}
        </span>
      </div>
    </div>
  </div>
  <div class="map" *ngIf="mapOptions">
    <app-dynamic-map [mapOptions]="mapOptions">
    </app-dynamic-map>
  </div>
</div>
