<div class="container mat-elevation-z2" *ngIf="ticket && boughtTicket">
    <qrcode [qrdata]="getTicketVerificationUrl()" [size]="100" [level]="'M'">
    </qrcode>
    <div class="info">
      <span class="ticket-date-of-purchase">
        Date of purchase: {{ boughtTicket.boughtDate | date }}
      </span>
      <br>
      <br>
      <span class="ticket-type">
        Type: {{ ticket.ticketType }}
      </span>
      <br>
      <span class="ticket-duration">
        Duration: {{ ticket.ticketDuration }}
      </span>
      <br>
      <span class="ticket-price">
        <ng-container *ngIf="boughtTicket.soldPrice">
          Price: {{ boughtTicket.soldPrice | currency: 'EUR' }}
        </ng-container>
        <ng-container *ngIf="!boughtTicket.soldPrice">
          Price: No price listed
        </ng-container>
      </span>
      <br>
    </div>
</div>
