<mat-card class="admin-card" *ngIf="admin">
    <mat-card-content>
        <p>
            <span class="firstName">First name: {{ admin.firstName }}</span><br>
            <span class="lastName">Last name: {{ admin.lastName }}</span><br>
            <span class="dateOfBirth">Date of birth: {{ admin.dateOfBirth | date }}</span><br>
            <span class="email">Email: {{ admin.email }}</span><br>
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button class="delete-admin-btn" (click)="deleteAdmin()" color="warn">Remove</button>
    </mat-card-actions>
</mat-card>