<mat-card> 
    <h2 class="mat-h2">Price list history</h2>
    <div class="info">
        <div class="priceLists" *ngIf="priceLists">
            <mat-select class="select1" id= "select1" placeholder="Choose price list" [(ngModel)]="selectedPriceList" required>
                <mat-option *ngFor="let p of priceLists.content" [value]="p">
                    {{p.id}}: {{p.startDate | date}} to {{p.endDate | date}}
                </mat-option>
            </mat-select>
        </div>
    </div>
    <br>
    <div class="info">
        <button mat-raised-button id="load1" color="primary" (click)="loadTickets(selectedPriceList.id)" [disabled]="selectedPriceList==null">
            Load
        </button>
    </div>
    <br>
    <div class="info">
        <div class="tickets" *ngIf="tickets">
            <mat-select class="select2" id= "select2" placeholder="Choose ticket" [(ngModel)]="selectedTicket" required>
                <mat-option *ngFor="let t of tickets.content" [value]="t">
                    {{t.cityLine.cityLineType}} {{t.cityLine.name}} {{t.ticketType}} {{t.ticketDuration}}
                </mat-option>
            </mat-select>
        </div>
    </div>
    <br>
    <div class="info">
        <button mat-raised-button id = "load2" color="primary" (click)="loadPriceListItems(selectedPriceList.id, selectedTicket.id, pageParams)"
            [disabled]="selectedPriceList==null || selectedTicket==null">
            Load
        </button>
    </div>
    <br>
    <div id = "show" class="container mat-elevation-z2" *ngIf="priceListItems">
        <app-page-controls [page]="priceListItems" [pageParams]="pageParams" [sortFields] = "sortFields" (pageParamsChanged)="paramsChanged($event)">
        </app-page-controls>
        <div class="priceListItem" *ngFor="let priceListItem of priceListItems.content; let i = index">
            <div class="container mat-elevation-z2" *ngIf="priceListItem">
                <div class="item">
                    <span class="price">
                        Price: {{priceListItem.price}}
                    </span>
                    <br>
                    <span class="active_from">
                        Active from: {{priceListItem.dateActive | date: 'medium'}}
                    </span>
                    <br>
                    <span class="active_to" *ngIf="priceListItems.content[i+1]!==undefined">
                        to: {{priceListItems.content[i+1].dateActive | date: 'medium'}}
                    </span>

                </div>
            </div>
        </div>
    </div>


</mat-card>