div.container {
    display: inherit;
    flex-direction: column;
    padding: 10px;
    justify-content: left;

  }

  mat-card {
    width: 1000px;
  }

  div.choose {
    display: inherit;
    flex-direction: row;
    padding: 10px;

  }
  
  button {
      display: inline-block;
  }

  mat-select {
      display: inline-block;
  }