<div class="container mat-elevation-z2" *ngIf="adminsPage">
    <div class="col">
      <div class="admins">
        <h2 class="mat-h2">
          Travel admins
        </h2>
        <app-page-controls [page]="adminsPage" [pageParams]="pageParams" [sortFields] = "sortFields" (pageParamsChanged)="paramsChanged($event)">
        </app-page-controls>
        <app-admin-list [admins]="adminsPage.content">
        </app-admin-list>
      </div>
    </div>
  </div>
  