<div class="city-line-creation">
  <div class="data mat-elevation-z3">
    <div class="form">
      <h2 class="mat-h2">
        Edit city line
      </h2>
      <form [formGroup]="cityLineGroup" *ngIf="cityLineGroup">
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="nameCtrl" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-select placeholder="Type" formControlName="cityLineTypeCtrl" required>
            <mat-option [value]="'BUS'">
              Bus
            </mat-option>
            <mat-option [value]="'TRAM'">
              Tram
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      Click on a station on the map to add it to this line
      <div class="stations" *ngIf="lineStations.length > 0" cdkDropList (cdkDropListDropped)="stationDropped($event)">
        <div class="station" *ngFor="let lineStation of lineStations; let i = index" cdkDrag>
          <button mat-stroked-button color="warn" (click)="removeStationFromLine(i)">X</button>
          <div class="name">
            {{ i + 1 }}. {{ lineStation.station.name }}
          </div>
        </div>
      </div>
    </div>
    <button *ngIf="cityLineGroup" class="save-btn" mat-raised-button color="primary" (click)="saveCityLine()" [disabled]="!cityLineGroup.valid">
      Save
    </button>
  </div>
  <div class="map" *ngIf="mapOptions">
    <app-dynamic-map [mapOptions]="mapOptions">
    </app-dynamic-map>
  </div>
</div>
