div.city-line-creation {
    display: flex;
    flex-direction: row;
  }
  
  div.map {
    width: 80vw;
  }
  
  div.data {
    width: 20vw;
    z-index: 6;
    padding: 30px;
    background-color: white;
  }
  
  form, .mat-form-field-wrapper, .form, mat-form-field {
    width:100% !important;
  }

  .mat-list-item {
    padding: 10px;
    background-color:white;
    font-size: 14px;
    border-bottom: solid 1px #ccc;
    display: flex;
    flex-direction: row;
  }
  
  div.station:last-child {
    border: none;
  }

  div.form {
    box-sizing: content-box;
  }

  .stations {
    height: 400px;
    width: 250px;
  }
  
  .station {
    padding: 10px;
    background-color:white;
    font-size: 14px;
    border-bottom: solid 1px #ccc;
    display: flex;
    flex-direction: row;
  }
  

  