<div class="city-line-creation" *ngIf="cityLine">
  <div class="data mat-elevation-z3">
    <div class="form">
      <h2 class="mat-h2">
        Showing details for city line
      </h2>
      <h3 class="mat-h3">
        {{ cityLine.name }}
      </h3>
      <span>
        Type: {{ cityLine.cityLineType }}
      </span>
      <br>
      <br>
      <br>
      <span *ngIf="lineStations.length > 0">
        Stations on this line are:
      </span>
      <span *ngIf="lineStations.length == 0">
        There are no stations on this line.
      </span>
      <br>
      <br>
      <cdk-virtual-scroll-viewport itemSize="8" minBufferPx="200" maxBufferPx="400" class="stations">
        <div *cdkVirtualFor="let lineStation of lineStations; let i = index" class="station">
          {{ i + 1 }}. {{ lineStation.station.name }}
        </div>
      </cdk-virtual-scroll-viewport>
      
    </div>
  </div>
  <div class="map" *ngIf="mapOptions">
    <app-dynamic-map [mapOptions]="mapOptions">
    </app-dynamic-map>
  </div>
</div>