<div class="container mat-elevation-z2">
  <div class="col">
    <h2 class="mat-h2">
      Upload documentation
    </h2>
    <div class="document-type">
      <mat-radio-group class="document-type" [(ngModel)]="documentType">
        <mat-radio-button value="STUDENT">Student ID</mat-radio-button>
        <mat-radio-button value="SENIOR">Senior ID</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="image-preview">
      <img [src]="imageDataUrl" *ngIf="imageDataUrl">
    </div>
    <div class="image-upload">
      <app-image-upload (loadSuccess)="imageLoaded($event)" (loadError)="imageLoadError($event)">
      </app-image-upload>
      <button class="upload-document-btn" mat-raised-button color="primary" (click)="uploadDocument()" [disabled]="imageUploadData === null || documentType === null">  
        Upload document
      </button>
    </div>
  </div>
</div>
