.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

div.container {
  background-color: white;
}

div.document-type {
  margin-bottom: 10px;
}

div.image-upload {
  display: flex;
  flex-direction: row;
}

button {
  margin-left: 10px;
}

img {
  width: 200px;
  border: dashed #444 2px;
}
