<div class="vehicle-creation">
    <div class="container mat-elevation-z2" *ngIf='vehicleGroup'>
        <div class="form">
            <h2 class="mat-h2">
                Create vehicle
            </h2>
            
            <form [formGroup]="vehicleGroup">
                <mat-form-field>
                    <input matInput placeholder="Plate number" formControlName="plateNumberCtrl" required>
                </mat-form-field>
                <br>
            </form>
            <br>
           
            <mat-select id= "select1" placeholder="Type" [(ngModel)]="selectedType" required>
                <mat-option [value]="'BUS'">
                    Bus
                </mat-option>
                <mat-option [value]="'TRAM'">
                    Tram
                </mat-option>
            </mat-select>
            <br>
            <br>
            <button mat-raised-button id="load" color="primary" (click)="loadCityLinesByType(pageParams, selectedType)" [disabled]="selectedType==null">
                Load city lines
            </button>
            <br>
            <br>
            <div class="cityLines" *ngIf="cityLines">
                <mat-select class="select2" id= "select2" placeholder="Choose city line" [(ngModel)]="selectedCityLine" required>
                    <mat-option *ngFor="let c of cityLines.content" [value]="c">
                        {{c.name}}
                    </mat-option>
                </mat-select>
            </div>
            <br>
            <button mat-raised-button id="save" class="save-btn" color="primary" (click)="saveVehicle()"
            [disabled]="!vehicleGroup.touched || !vehicleGroup.valid || selectedCityLine==null">
            Save
        </button>
        </div>
       
    </div>

</div>