<div class="container mat-elevation-z2">
  <div class="col">
    <h2 class="mat-h2">
      Verify documents
    </h2>
    <div class="documents" *ngIf="unverifiedDocumentsPage">
      <app-page-controls [page]="unverifiedDocumentsPage" [pageParams]="pageParams">
      </app-page-controls>
      <div class="document mat-elevation-z2" *ngFor="let document of unverifiedDocumentsPage.content; let i = index">
        <div class="document">
          <img [src]="images[document.id]" *ngIf="images[document.id]">
        </div>
        <app-vd-document-account-info-card [document]="document">
        </app-vd-document-account-info-card>
        <button mat-raised-button color="primary" (click)="veirfy(document, i)">
          Verify
        </button>
      </div>
    </div>
  </div>
</div>
