<mat-card class="ticket-card" *ngIf="ticket">
    <mat-card-header>
      <ng-container *ngIf="ticket.cityLine; then thenTemplate; else elseTemplate"></ng-container>
      <ng-template #thenTemplate>
          <mat-card-title>
            <span class="ticket-card-name">Ticket type for {{ ticket.cityLine.name }}</span>
          </mat-card-title>
      </ng-template>
      <ng-template #elseTemplate>
          <mat-card-title>
            <span class="ticket-card-name">Ticket type</span>
          </mat-card-title>
      </ng-template>
    </mat-card-header>
    <mat-card-content>
      <br>
      <p>
        <span class="ticket-duration">Ticket duration: {{ ticket.ticketDuration }}</span><br>
        <span class="ticket-type">Ticket type: {{ ticket.ticketType }}</span>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button class="edit-ticket-btn" [routerLink]="['/edit-ticket', ticket.id]" color="primary">Edit</a>
      <button mat-raised-button class="delete-ticket-btn" (click)="deleteTicket()" color="warn">Delete</button>
    </mat-card-actions>
  </mat-card>