<div class="container mat-elevation-z2">
  <div class="col">
    <h2 class="mat-h2">Purchased tickets</h2>
    <div class="tickets" *ngIf="tickets">
      <app-page-controls [page]="tickets" [pageParams]="pageParams" 
                         (pageParamsChanged)="paramsChanged($event)"
                         [sortFields]="sortFields">
      </app-page-controls>
      <div class="ticket" *ngFor="let ticket of tickets.content">
        <app-purchased-ticket-card [ticket]="ticket.ticket" [boughtTicket]="ticket">
        </app-purchased-ticket-card>
      </div>  
    </div>
  </div>
</div>
