<div class="container" *ngIf="vehicles">
    <div class="vehicle-list">
      <div class="vehicle-wrapper" *ngFor="let vehicle of vehicles; let i = index">
        <app-vehicle-card [vehicle]="vehicle" (deleted)="removeVehicleFromList(i)">
        </app-vehicle-card>
        <br>
      </div>
    </div>
  </div>