<div class="container mat-elevation-z2" *ngIf="stationsPage">
  <div class="col">
    <div class="stations">
      <h2 class="mat-h2">
        Stations
      </h2>
      <app-page-controls [page]="stationsPage" [sortFields]="sortFields" [pageParams]="pageParams" (pageParamsChanged)="paramsChanged($event)">
      </app-page-controls>
      <app-station-list [stations]="stationsPage.content">
      </app-station-list>
    </div>
  </div>
</div>
