<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a [routerLink]="['/home']">
      <span class="nav-title">Travel-NS</span>
    </a>
    <a class="home-btn" [routerLink]="['/home']" mat-button>
      Home
    </a>
    <button class="account-btn" mat-button [matMenuTriggerFor]='accountMenu'>Account</button>
    <mat-menu class="account-menu" #accountMenu='matMenu'>
      <a [routerLink]="['/account']" *ngIf="authService.isLoggedIn()" mat-menu-item>View Account Information</a>
      <a [routerLink]="['/upload-document']" *ngIf="authService.isLoggedIn()" mat-menu-item>Upload document</a>
      <a [routerLink]="['/verify-document']" *ngIf="isVerifier || isAdmin" mat-menu-item>Verify documents</a>
      <a (click)="logIn()" *ngIf="!authService.isLoggedIn()" mat-menu-item>Log In</a>
      <a [routerLink]="['/registration']" *ngIf="!authService.isLoggedIn()" mat-menu-item>Register</a>
      <a (click)="logOut()" *ngIf="authService.isLoggedIn()" mat-menu-item>Log Out</a>
    </mat-menu>
    <button class="ticket-btn" mat-button [matMenuTriggerFor]='ticketsMenu'>Tickets</button>
    <mat-menu class="ticket-menu" #ticketsMenu='matMenu'>
      <a [routerLink]="['/purchased-tickets']" *ngIf="authService.isLoggedIn()" mat-menu-item>View purchased tickets</a>
      <a [routerLink]="['tickets']" mat-menu-item>View ticket types</a>
    </mat-menu>
    <button class="city-line-btn" mat-button [matMenuTriggerFor]='cityLinesMenu'>City lines</button>
    <mat-menu class="city-line-menu" #cityLinesMenu='matMenu'>
      <a [routerLink]="['/city-lines']" routerLinkActive="active" mat-menu-item>View city lines</a>
      <a [routerLink]="['/create-city-line']" *ngIf="isAdmin" mat-menu-item>Create city line</a>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]='priceListMenu' >Price lists</button>
    <mat-menu #priceListMenu='matMenu'>
      <a [routerLink]="['/pricelist']" *ngIf="authService.isLoggedIn()" mat-menu-item>View price lists</a>
      <a [routerLink]="['/add-price-list']"  *ngIf="isAdmin" mat-menu-item>Add price list</a>
      <a [routerLink]="['/price-list-history']"  *ngIf="isAdmin" mat-menu-item>View history</a>
    </mat-menu>
    <button class="vehicle-btn" mat-button [matMenuTriggerFor]='vehiclesMenu'>Vehicles</button>
    <mat-menu class="vehicle-menu" #vehiclesMenu='matMenu'>
      <a [routerLink]="['/track-vehicle']" mat-menu-item>Track vehicle</a>
      <a [routerLink]="['/view-vehicles']" *ngIf="isAdmin" mat-menu-item>View vehicles</a>
      <a [routerLink]="['/create-vehicle']" *ngIf="isAdmin" mat-menu-item>Create vehicle</a>

    </mat-menu>
    <button class="station-btn" mat-button [matMenuTriggerFor]='stationsMenu'>Stations</button>
    <mat-menu class="station-menu" #stationsMenu='matMenu'>
      <a [routerLink]="['/stations']" mat-menu-item>View stations</a>
      <a [routerLink]="['/create-station']" *ngIf="isAdmin" mat-menu-item>Create station</a>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]='travelAdminsMenu' *ngIf="isSystemAdmin">Travel admins</button>
    <mat-menu #travelAdminsMenu='matMenu'>
      <a [routerLink]="['/admin-registration']" mat-menu-item>Register admin</a>
      <a [routerLink]="['/admin-view']" mat-menu-item>View admins</a>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
