<h1 mat-dialog-title>Add price list item</h1>
<div mat-dialog-content>
    <div class="form">
        <form [formGroup]="priceListItemGroup">
            <mat-form-field>
                <input matInput placeholder="Price" formControlName="priceCtrl" required>
            </mat-form-field>
        </form>
        <br>
        <div class="tickets" *ngIf="tickets">
            <mat-select id="addSelect" placeholder="Ticket" [(ngModel)]="selectedTicket" required>
                <mat-option *ngFor="let t of tickets.content" [value]="t">
                    {{t.cityLine.cityLineType}} {{t.cityLine.name}} {{t.ticketType}} {{t.ticketDuration}}
                </mat-option>
            </mat-select>
        </div>
        <br>
        <br>
        <button mat-raised-button id = "addButton" color="primary" (click)="addPriceListItem()" [disabled]="!priceListItemGroup.valid || selectedTicket==null" >
            Add
        </button>
    </div>

</div>