<div class="container mat-elevation-z2" *ngIf="ticketsPage">
    <div class="col">
      <div class="tickets">
        <h2 class="mat-h2">
          Tickets
        </h2>
        <app-page-controls [page]="ticketsPage" 
                           [pageParams]="pageParams" 
                           (pageParamsChanged)="paramsChanged($event)"
                           [sortFields]="sortFields">
        </app-page-controls>
        <app-ticket-type-list [tickets]="ticketsPage.content">
        </app-ticket-type-list>
      </div>
    </div>
  </div>
  