<mat-card class="station-card" *ngIf="station">
  <mat-card-header>
    <mat-card-title>
      <span class="station-card-name">{{ station.name }}</span>
    </mat-card-title>
    <mat-card-subtitle>
      <span class="card-type">Station</span>
    </mat-card-subtitle>
  </mat-card-header>
  <app-marker-map class="map" [center]="coordinates" [markers]="markers"></app-marker-map>
  <mat-card-content>
    <br>
    <p>
      <span class="lat">Latitude: {{ station.latitude }}</span><br>
      <span class="lng">Longitude: {{ station.longitude }}</span>
    </p>
  </mat-card-content>
  <mat-card-actions *ngIf="isAdmin">
    <a mat-raised-button class="edit-station-btn" [routerLink]="['/edit-station', station.id]" color="primary">Edit</a>
    <button mat-raised-button class="delete-station-btn" (click)="deleteStation()" color="warn">Delete</button>
  </mat-card-actions>
</mat-card>
