<div class="account-details">
  Document type: {{ document.documentType }}
  <br>
  First name: {{ document.account.firstName }}
  <br>
  Last name: {{ document.account.lastName }}
  <br>
  Date of birth: {{ document.account.dateOfBirth | date }}
  <br>
  <br>
</div>