/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~ngx-toastr/toastr.css';

body {
    font-family: Roboto;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

div.container {
    padding: 30px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.form {
    display: inline-block;
}

a {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

div.col {
    width: 100%;
}