<div class="station-creation">
  <div class="data mat-elevation-z3">
    <div class="form">
      <h2 class="mat-h2">
        Create station
      </h2>
      <form [formGroup]="stationGroup">
        <mat-form-field>
          <input matInput placeholder="Station name" formControlName="nameCtrl" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput type="number" placeholder="Latitude" formControlName="latitudeCtrl" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput type="number" placeholder="Longitude" formControlName="longitudeCtrl" required>
        </mat-form-field>
        <br>
      </form>
      Click on the map to select station position
    </div>
    <button *ngIf="stationGroup" class="save-btn" mat-raised-button color="primary" (click)="saveStation()" [disabled]="!stationGroup.valid">
      Save
    </button>
  </div>
  <div class="map" *ngIf="mapOptions">
    <app-dynamic-map [mapOptions]="mapOptions">
    </app-dynamic-map>
  </div>
</div>
